@import url('https://fonts.googleapis.com/css2?family=Cabin:wght@400;500;600;700&family=Instrument+Serif:ital,wght@0,400;1,400&family=Inter:wght@400;500;600;700&family=Manrope:wght@400;500;600;700&display=swap');
@import "tailwindcss";

@theme {
  --font-manrope: "Manrope", sans-serif;
  --font-cabin: "Cabin", sans-serif;
  --font-instrument: "Instrument Serif", serif;
  --font-inter: "Inter", sans-serif;

  --color-primary-purple: #7b39fc;
  --color-dark-purple: #2b2344;
}

@layer base {
  body {
    @apply font-inter text-white antialiased;
  }
}
